.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color $timing-function $transition-duration;

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $primary-accent-color;
  }
}

.form-text {
  display: block;
  margin-bottom: 38px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $secondary-text-color;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: transform $timing-function $transition-duration,
    color $timing-function $transition-duration;

  .form-input:focus + &,
  .form-input:not(:placeholder-shown) + & {
    transform: translate(-26px, -36px);
    color: $primary-accent-color;
  }

  .form-textarea + & {
    top: 20px;
    left: 16px;
  }

  .form-textarea:focus + &,
  .form-textarea:not(:placeholder-shown) + & {
    transform: translate(0px, -36px);
    color: $primary-accent-color;
  }
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill $timing-function $transition-duration;

  .form-input:focus ~ &,
  .form-input:not(:placeholder-shown) ~ & {
    fill: $primary-accent-color;
  }
}

.form-textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color $timing-function $transition-duration;

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $primary-accent-color;
  }

  &::placeholder {
    opacity: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $placeholder-text-color;
    transition: opacity $timing-function $transition-duration;
  }

  &:focus::placeholder {
    opacity: 1;
  }
}

.checkbox-field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;

  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  margin-left: 8px;

  line-height: 1.71;
}

.checkbox-link {
  color: $primary-accent-color;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid $secondary-text-color;
  border-radius: 2px;
  transition: background-color $timing-function $transition-duration,
    border-color $timing-function $transition-duration,
    transform $timing-function $transition-duration;

  .checkbox:checked + & {
    transform: scale(1.2);
    border-color: transparent;
    background-color: $primary-accent-color;
    background-image: url("../images/modal/checkbox-icon.svg");
    background-size: contain;
    background-origin: border-box;
  }
}
