.logo {
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  &-active {
    color: $primary-accent-color;
  }

  .page-header & {
    color: $logo-color;
    white-space: nowrap;
  }

  .footer & {
    display: block;
    margin-bottom: 20px;
    color: $white-color;
  }
}
