@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section.footer {
    padding-top: 70px;
    padding-bottom: 47px;
  }

  .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.section-title {
  color: $secondary-text-color;
  text-align: center;
}
