.page-header {
  // position: relative;
  display: flex;
  // justify-content: space-between;
  align-items: center;

  // outline: 1px solid black;
  // padding-top: 10px;
  // padding-bottom: 10px;
}

// .icon-burger,
// .icon-close {
//   transition: fill $transition-duration $timing-function;
// }

// .menu-btn {
//   background-color: transparent;
//   border: none;

//   &:focus,
//   &:hover {
//     .icon-burger,
//     .icon-close {
//       fill: $primary-accent-color;
//     }
//   }

//   &.is-open {
//     .icon-close {
//       display: block;
//     }

//     .icon-burger {
//       display: none;
//     }
//   }
// }

// .icon-close {
//   display: none;
// }

// .menu-wrapper {
//   outline: 1px solid red;

//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   height: 393px;
//   padding-top: 60px;
//   padding-bottom: 60px;
//   padding-left: 140px;
//   padding-right: 140px;

//   transform: translateY(-150%);
//   transition: transform $transition-duration $timing-function;

//   &.is-open {
//     border-top: 1px solid $header-border-color;
//     transform: translateY(0%);
//   }
// }

// .site-nav {
//   margin-bottom: 60px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.site-nav-item {
  position: relative;
}

// .site-nav-item:not(:last-child) {
//   margin-bottom: 40px;
// }

// .authorization-nav {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .auth-nav-item:not(:last-child) {
//   margin-bottom: 16px;
// }

.site-nav .link {
  //   display: block;
  //   padding-top: 32px;
  //   padding-bottom: 32px;

  color: $secondary-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }

  &.current {
    color: $primary-accent-color;

    &::after {
      position: absolute;
      left: 0;
      bottom: -8px;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background: $primary-accent-color;
      border-radius: 2px;
    }
  }
}

.authorization-nav .link {
  display: flex;
  align-items: center;
  // padding-top: 32px;
  // padding-bottom: 32px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  // min-width: 178px;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}

.auth-nav-link-icon {
  margin-right: 10px;
  fill: $primary-text-color;

  transition: fill $transition-duration $timing-function;

  .authorization-nav .link:hover &,
  .authorization-nav .link:focus & {
    fill: $primary-accent-color;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .icon-burger,
  .icon-close {
    transition: fill $transition-duration $timing-function;
  }

  .menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;

    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    transform: translateY(-150%);
    transition: transform $transition-duration $timing-function;

    &.is-open {
      border-top: 1px solid $header-border-color;
      transform: translateY(0%);
    }
  }

  .menu-btn {
    display: inline-flex;
    padding: 0;
    background-color: transparent;
    border: none;

    &:focus,
    &:hover {
      .icon-burger,
      .icon-close {
        fill: $primary-accent-color;
      }
    }

    &.is-open {
      .icon-close {
        display: block;
      }

      .icon-burger {
        display: none;
      }
    }
  }

  .icon-close {
    display: none;
  }

  .site-nav {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .authorization-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-nav-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .authorization-nav .link {
    min-width: 178px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  // .logo {
  //   margin-right: 81px;
  //   min-width: 141px;
  // }

  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 81px;
  }

  .site-nav {
    display: flex;
  }

  .site-nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;

    &.current::after {
      bottom: 0;
    }
  }

  // .authorization-nav {
  //   margin-left: 84px;
  // }

  .authorization-nav .link {
    font-size: 12px;
    line-height: 1.17;
  }

  .auth-nav-link-icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav-item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }

  .menu-wrapper {
    margin-left: 85px;
    width: 100%;
    justify-content: space-between;
  }

  .authorization-nav {
    display: flex;
    align-items: center;
  }

  .auth-nav-item:not(:last-child) {
    margin-right: 30px;
  }

  .authorization-nav .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

// .header {
//   border-bottom: 1px solid $header-border-color;
// }

// .page-header {
//   display: flex;
//   align-items: center;
// }

// .main-nav {
//   display: flex;
//   align-items: center;
// }

// .site-nav {
//   display: flex;
// }

// .site-nav-item {
//   position: relative;

//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .site-nav .link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: $secondary-text-color;
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color $transition-duration $timing-function;

//   &:hover,
//   &:focus {
//     color: $primary-accent-color;
//   }

//   &.current {
//     color: $primary-accent-color;

//     &::after {
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       content: "";
//       display: block;
//       width: 100%;
//       height: 4px;
//       background: $primary-accent-color;
//       border-radius: 2px;
//     }
//   }
// }

// .authorization-nav {
//   display: flex;
//   margin-left: auto;
// }

// .auth-nav-item + .auth-nav-item {
//   margin-left: 30px;
// }

// .authorization-nav .link {
//   display: flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   color: $primary-text-color;
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color $transition-duration $timing-function;

//   &:hover,
//   &:focus {
//     color: $primary-accent-color;
//   }
// }

// .auth-nav-link-icon {
//   margin-right: 10px;
//   fill: $primary-text-color;

//   .authorization-nav .link:hover &,
//   .authorization-nav .link:focus & {
//     fill: $primary-accent-color;
//   }
// }
