.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list-link {
  display: flex;
  // min-width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid $links-icon-basic-color;
  border-radius: 4px;
  transition: border-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    border-color: $primary-accent-color;
  }
}

.clients-link-icon {
  fill: $links-icon-basic-color;

  transition: fill $transition-duration $timing-function;

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: $primary-accent-color;
  }
}

@media screen and (max-width: 767px) {
  .clients-list-link {
    // min-width: 210px;
    max-width: 210px;
  }

  .clients-list-item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  .clients-list {
    margin: -15px;
    // justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-link {
    // min-width: 226px;
    max-width: 226px;
  }

  .clients-list-item {
    width: calc((100% - 90px) / 3);
  }

  .clients-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .clients-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-bottom: 84px;
  }

  .clients-list-link {
    // min-width: 170px;
    max-width: 170px;
  }

  .clients-list-item {
    margin-bottom: 0px;
    width: calc((100% - 180px) / 6);
  }

  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
