.what-we-do .list {
  display: flex;
  justify-content: space-between;
}

.what-we-do .item {
  position: relative;
}

.what-we-do-image {
  display: block;
}

.what-we-do .text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $white-color;
  background-color: $hero-background-color;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
